<section class="section">
  <div class="container">
    <div class="columns">
       <%= render 'tweets/trends' %>
       <%= render 'tweets/feed' %>
       <%= render 'tweets/who-to-follow' %>
    </div>
  </div>
</section>